@keyframes slide-nav-down {
  from {
    transform: translate(-50%, -150%);
  } to {
    transform: translate(-50%, -50%);
  }
}

* {
  box-sizing: border-box;
}

:root {
  --nav-height: 60px;
  --color-cafe-noir: #523A28;
  --color-bone: #E4D8C9;
  --color-dirt: #A47551
}

html, body {
  margin: 0;
  padding: 0;
}

.ember-google-map {
  width: 100%;
  height: 100%;
}

.map-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.feat-nav {
  align-items: center;
  background-color: var(--color-dirt);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 10px 25px;
}

.feat-nav__link {
  color: var(--color-bone);
  font-weight: 600;
  text-decoration: none;
  transition: all .5s;
  padding: 5px 10px;
}

.page-wrapper {
  background-color: var(--color-bone);
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  position: relative;
}

.feat-wrapper {
  height: calc(100% - var(--nav-height));
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}

.main-nav {
  animation: slide-nav-down .2s ease-in-out forwards;
  background-color: var(--color-dirt);
  border: 3px solid ;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-width: 340px;
  min-width: 250px;
  padding: 20px;
  position: absolute;
  top: 50%;
  width: 95%;
  border-radius: 10px;
}

.main-nav__link {
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  color: white;
  background-color: var(--color-cafe-noir);
  padding: 7px 0;
}

.main-nav__link:last-child {
  margin-bottom: 0;
}

.logo {
  text-align: center;
  margin: 0;
  padding: 0;
  color: var(--color-cafe-noir);
  margin-bottom: 10px;
}

.note-form {
  padding: 20px;
}

.note-form__field {
  border: 0;
  padding: 0;
  margin-top: 15px;
}

.note-form__field-label {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  color: var(--color-cafe-noir)
}

.note-form__field-input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 0;
  border: 0;
  font-weight: 400;
  background-color: var(--color-cafe-noir);
  color: white;
}

.note-form__button {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  background-color: var(--color-cafe-noir);
  color: white;
  margin-top: 10px;
}

.note-form__button:disabled {
  opacity: .7;
}

.note-list {
  padding: 15px 20px 30px 20px;
  position: relative;
}

.note-list::before {
  background-color: black;
  content: '';
  height: 1px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 60%;
}

.note-list__note {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin-bottom: 20px;
}

.note-list__note-title {
  background-color: var(--color-dirt);
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}

.note-list__note-description {
  background-color: var(--color-bone);
  padding: 10px;
}
