@keyframes slide-nav-down {
  from {
    transform: translate(-50%, -150%);
  } to {
    transform: translate(-50%, -50%);
  }
}

* {
  box-sizing: border-box;
}

:root {
  --nav-height: 60px;
}

html, body {
  margin: 0;
  padding: 0;
}

.ember-google-map {
  width: 100%;
  height: 100%;
}

.map-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.feat-nav {
  align-items: center;
  background-color: #F2E9DE;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 10px 25px;
}

.feat-nav__link {
  color: #EF924A;
  font-weight: 600;
  text-decoration: none;
  transition: all .5s;
  padding: 5px 10px;
}

.feat-nav__link:hover {
  color: #DE8139;
  font-weight: 800;
}

.page-wrapper {
  background-color: rgb(228, 216, 201);
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  position: relative;
}

.feat-wrapper {
  height: calc(100% - var(--nav-height));
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-nav {
  animation: slide-nav-down .2s ease-in-out forwards;
  background-color: #A47551;
  border: 3px solid #523A28;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-width: 340px;
  min-width: 250px;
  padding: 20px;
  position: absolute;
  top: 50%;
  width: 95%;
}

.main-nav__link {
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  color: white;
  background-color: #523A28;
  padding: 7px 0;
}

.main-nav__link:last-child {
  margin-bottom: 0;
}

.logo {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #523A28;
  margin-bottom: 10px;
}
