
<div
  class="level-meter"
  {{did-insert this.setupListener}}
  {{will-destroy this.removeListener}}
>
  <Level
    class="-horizontal"
    @value={{this.beta}}
    @min={{-180}}
    @max={{180}}
  />
  <Level
    class="-vertical"
    @value={{this.gamma}}
    @min={{-90}}
    @max={{90}}
  />
</div>
