<div class="main-nav">
  <h1 class="logo">
    KATA-PWA
  </h1>

  <LinkTo class="main-nav__link" @route="feat.geolocation">
    Geolocation
  </LinkTo>

  <LinkTo class="main-nav__link" @route="feat.notes">
    Notes
  </LinkTo>

  <LinkTo class="main-nav__link" @route="feat.camera">
    Camera
  </LinkTo>

  <LinkTo class="main-nav__link" @route="feat.orientation">
    Level Meter
  </LinkTo>
</div>
